@import "tailwindcss";

:root {
  --foreground: #2F3E46;
  --background: #FFFFFF;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
